:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --blue: #1fa2f1;
  --blueligth: #98d1f9;
  --buttonHoverBG: #92cbf4;
  --lightgrey: rgb(230, 236, 240);
  --greyText: rgb(101, 139, 134);
  --greyButtonText: rgba(0,0,0,0.34);
  --spacing: 15px;
}

a {
  color: inherit;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  a {
    &:hover {
      text-decoration: none;
      background-color: var(--buttonHoverBG);
      border-radius: 50%;
    }
    display: flex;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
  }
}

.mainSectionContainer {
  padding: 0;
  border-left: 2px solid var(--lightgrey);
  border-right: 2px solid var(--lightgrey);
  display: flex;
  flex-direction: column;
  .titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
    flex-shrink: 0;
    h1 {
      flex: 1;
    }
  }
  .postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230, 236, 240);
    flex-shrink: 0;
  }
  .userImageContainer {
    width: 70px;
    img {
      width: 100%;
      height: 70px;
      background-color: #fff;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .textAreaContainer {
      flex: 1;
      padding-left: var(--spacing);
      textarea{
          width: 100%;
          padding-left: var(--spacing);
          border: none;
          resize: none;
          font-size: 19px;
      }
  }

  .postsContainer{
      .post{
          display: flex;
          flex-direction: column;
          padding: var(--spacing);
          cursor: pointer;
          border-bottom: 2px solid lightgray;
          flex-shrink: 0;
          .mainContentContainer{
              flex: 1;
              display: flex;
              .postContentContainer{
                  padding-left: var(--spacing);
                  display: flex;
                  flex-direction: column;
                  flex: 1;
                  .header{
                      a{
                          &:hover{
                              text-decoration: underline;
                          }
                      }
                      a, span{
                          padding-right: 5px;
                      }
                      .displayName{
                          font-weight: bold;
                      }
                      .username, .date{
                          color: var(--greyText)
                      }
                  }

                  .postFooter{
                      display: flex;
                      align-items: center;
                      .postButtonContainer{
                          flex: 1;
                          display: flex;
                          button{
                              &:hover{
                                  background-color: #d4edff;
                                  border-radius: 50px;
                              }
                              padding: 0 5px;
                              border: none;
                              outline: none;
                              color: var(--greyButtonText);
                              background-color: transparent;
                              font-size: 20px;
                          }
                      }
                  }
              }
          }
      }
  }
}

#submitPostButton{
    &:disabled{
        background-color: var(--blueligth);
    }
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}
